.bgc-purple {
  background-color: rgb(85, 42, 128);
}

img {
  width: 100%;
}

.right-align {
  text-align: right;
}

.justify-right {
  justify-content: right;
}

.font-size-up {
  font-size: 20px;
}

.font-big-bold {
  font-size: large;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 24px;
}

.white-txt {
  color: white;
}

.center-txt {
  text-align: center;
}

.save-button {
  color: white;
  font-size: large;
  padding: 6px 16px;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.new-button {
  color: white;
  font-size: large;
  padding: 6px 13px;
  border: none;
  border-radius: 3px;
}

.entries-anchor {
  align-self: center;
  margin-left: 16px;
}

.pencil-img {
  color: rgb(85, 42, 128);
  width: 25%;
  height: 75%;
  align-self: center;
}

.pencil-box {
  text-align: right;
  width: 50%;
}

.h1-entries {
  width: 50%;
}
