.bgc-purple {
  background-color: rgb(85, 42, 128);
}

img {
  width: 100%;
}

.right-align {
  text-align: right;
}

.justify-right {
  justify-content: right;
}

.align-self-center {
  align-self: center;
}

.font-size-up {
  font-size: 20px;
}

.font-big-bold {
  font-size: large;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 24px;
}

.white-txt {
  color: white;
}

.center-txt {
  text-align: center;
}

.save-button {
  color: white;
  font-size: large;
  padding: 6px 16px;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.new-button {
  color: white;
  font-size: large;
  padding: 6px 13px;
  border: none;
  border-radius: 3px;
}

.entries-anchor {
  align-self: center;
  margin-left: 16px;
}

.delete {
  margin-top: 0;
  color: red;
}

.edit-icon:hover,
.delete:hover {
  cursor: pointer;
}

.pencil-img {
  width: 25%;
  height: 75%;
  align-self: center;
}

.pencil-box {
  text-align: right;
  width: 50%;
}

.h1-entries {
  width: 50%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100vw;
  top: 0;
  bottom: 0;
}

.modal {
  background-color: white;
  width: 450px;
  height: 150px;
}

.modal-buttons {
  width: 50%;
}

.cancel {
  font-size: 1.5rem;
  padding: 5px 15px;
  border: none;
  background-color: rgb(182, 182, 182);
  border-radius: 6px;
}

.confirm {
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 5px 15px;
  background-color: rgb(220, 38, 38);
  border-radius: 6px;
}

.position-absolute {
  position: absolute;
}
